<md-whiteframe class="md-whiteframe-z3" layout layout-align="center center" style="margin-top:50px;" id="intro" ng-if="intro">
     <md-button class="md-accent" ng-click="saveForOffline()">Save Offline</md-button>

    <div layout="column" layout-align="center center">
         <div class="md-title">Find your API in 3 simple steps...online or offline!</div>
         <div class="md-display-1"><i class="fa fa-sign-in"></i> </div>
        <div class="md-display-1">Get in</div>
        <h1><i class="fa fa-long-arrow-down"></i></h1>	
         <div class="md-display-1"><i class="fa fa-search"></i> </div>
        <div class="md-display-1">Find your API </div>
        <h1><i class="fa fa-long-arrow-down"></i></h1>	
        <div class="md-display-1"><i class="fa fa-sign-out"></i> </div>
        <div class="md-display-1">Get out </div>
    </div>
</md-whiteframe>
