<h4 ng-if="results">Results: (<b>{{results.length}}</b>)</h4>
<md-list>
  <md-list-item class="md-2-line" ng-repeat="item in results track by $index">
    <div class="md-list-item-text">
      <a ui-sref="app.content.detail"><b>{{item.lib}}:{{item.apiName}}</b></a>
      <small><em>(<a ui-sref="app.content.detail">{{item.bucket}}</a>)</em></small>
     
      <p>Summary: {{item.summary}}</p>
    </div>
  </md-list-item>
</md-list>


<!-- <h3>current state name: <var>{{$state.current.name}}</var></h3>
  
  state
  <pre>{{$state.current | json}}</pre>
  model
  <pre>{{results | json}}</pre> -->