<h4 class="md-headline"><b><a href="/list/{{api.lib}}">{{api.lib}}</a>:{{api.apiName}}()</b></h4>

<md-content layout-padding>
 <h3 class="md-title"><b>Summary</b></h3>
        <md-content layout-padding>
            {{api.summary}}
        </md-content>

        <h3 class="md-title"><b>Usage</b></h3>
        <p>
            <pre style="max-width:500px">
        <b>{{api.lib}}:{{api.apiName}}(){ </b>
        <span ng-repeat="param in api.params">
        <b style="padding-left:30px;">{{param.name}}</b> as <em>{{param.type}}</em>
         </span>
        <b>}</b> as <b>{{api.return}}</b>
        </pre>
        </p>

        <div ng-if="api.params.length > 0">
        <h3 class="md-title"><b>Parameters</b></h3>
        <table>
            <tr>
                <th>
                    <md-content layout-padding>
                        Name
                    </md-content>
                </th>
                <th>
                    <md-content layout-padding>
                        Required
                    </md-content>
                </th>
                <th>
                    <md-content layout-padding>
                        Description
                    </md-content>
                </th>
            </tr>
            <tbody>
                <tr ng-repeat="param in api.params">
                    <td>
                        <md-content layout-padding>
                            <code>{{param.name}}</code>
                        </md-content>
                    </td>
                    <td>
                        <md-content layout-padding>
                            {{param.required}}
                        </md-content>
                    </td>
                    <td>
                        <md-content layout-padding>
                            {{param.description}}
                        </md-content>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

   <h3 class="md-title"><b>Example</b></h3>
<div ng-repeat="example in api.examples">
     <pre>{{example}}</pre>
</div>
   
    <!-- <md-whiteframe class="md-whiteframe-z5" layout layout-align="center center" ng-repeat="example in api.examples">  
  </md-whiteframe> -->
</md-content>

<!-- <md-card>
    <md-card-content>
    <h3 class="md-title"><b>Summary</b></h3>
        <md-content layout-padding>
            {{api.summary}}
        </md-content>

        <h3 class="md-title"><b>Usage</b></h3>
        <p>
            <pre style="max-width:500px">
        <b>{{api.lib}}:{{api.apiName}}(){ </b>
        <span ng-repeat="param in api.params">
        <b>{{param.name}}</b> as <em>{{param.type}}</em>
         </span>
        <b>}</b> as <b>{{api.return}}</b>
        </pre>
        </p>
        
        <h3 class="md-title"><b>Parameters</b></h3>
        <table>
            <tr>
                <th>
                    <md-content layout-padding>
                        Name
                    </md-content>
                </th>
                <th>
                    <md-content layout-padding>
                        Required
                    </md-content>
                </th>
                <th>
                    <md-content layout-padding>
                        Description
                    </md-content>
                </th>
            </tr>
            <tbody>
                <tr ng-repeat="param in api.params">
                    <td>
                        <md-content layout-padding>
                            <code>{{param.name}}</code>
                        </md-content>
                    </td>
                    <td>
                        <md-content layout-padding>
                            {{param.required}}
                        </md-content>
                    </td>
                    <td>
                        <md-content layout-padding>
                            {{param.description}}
                        </md-content>
                    </td>
                </tr>
            </tbody>
        </table>

   <h3 class="md-title"><b>Example</b></h3>
    <md-whiteframe class="md-whiteframe-z5" layout layout-align="center center" ng-repeat="example in api.examples">
    <pre>{{example}}</pre>
  </md-whiteframe>
    

    </md-card-content>
</md-card> -->

