<div ng-include="'app/main/partials/progress.partial.html'" ng-if="showProgress"></div>

<md-content layout-padding ng-if="list">
<h3 class="md-display-1"><b>{{$state.params.lib}}</b><small>({{list.length}})</small></h3>
<md-input-container>
  <input type="text" ng-model="api.apiName" placeholder="filter">
</md-input-container>
<table>
	<tr>
	<th>
	<md-content layout-padding>
	    Names
	</md-content></th>
	<th><md-content layout-padding>
	    Description
	</md-content></th></tr>
	<tbody>

		<tr ng-repeat="item in list | filter:api">
			<td class="col-md-5"><md-content layout-padding>
			    <a ui-sref="app.detail({uri:item.uri})"><b>{{::item['http-verb']}} {{::item.lib}}:{{::item.apiName}}</b></a>
			</md-content></td>
			<td><md-content layout-padding>
			    {{::item.summary | cut:true:150 }}
			</md-content></td>
		</tr>
	</tbody>
</table>
</md-content>