<md-content layout-padding>
<h3 class="md-display-1"><b>{{$state.params.lib}}</b><small>({{list.length}})</small></h4>
<md-input-container>
  <input type="text" ng-model="filterApi" placeholder="filter">
</md-input-container>
<table>
	<tr>
	<th>
	<md-content layout-padding>
	    Name
	</md-content></th>
	<th><md-content layout-padding>
	    Description
	</md-content></th></tr>
	<tbody>
		<tr ng-repeat="item in list | filter:filterApi">
			<td class="col-md-5"><md-content layout-padding>
			    <a ui-sref="app.detail({uri:item.uri})"><b>{{::item['http-verb']}} {{::item.lib}}:{{::item.apiName}}</b></a>
			</md-content></td>
			<td><md-content layout-padding>
			    {{::item.summary | cut:true:150 }}
			</md-content></td>
		</tr>
	</tbody>
</table>
</md-content>