.footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #E5E5E5;
}

.gray {
    background: #f5f5f5;
}

.msg {
    padding-top: 20px;
    padding-bottom: 20px
}

pre {
	border-radius: 0px;
}

/*#sidebar {
    max-height: 700px;
    overflow: scroll;
}*/
