<!-- <md-input-container>
    <label>Search</label>
    <input type="text" ng-model="query.q" required>
</md-input-container>
<md-button class="md-raised md-mini md-primary" md-ripple-size="full" ng-click="search()"> Search </md-button>
<hr> -->

<div layout="row" layout-align="start center">
  <div flex="66">
    <form ng-submit="$event.preventDefault()">
    <md-autocomplete 
    md-search-text-change="query.suggest(query.q)" 
    md-search-text="query.q" 
    md-selected-item-change="search(suggest, true)" 
    md-items="suggest in query.suggestions" 
    md-min-length="0" 
    md-autoselect="true"
    md-autofocus="true"
    placeholder="search marklogic apis">
        <md-item-template>
            <span md-highlight-text="query.q" md-highlight-flags="^i">{{suggest}}</span>
        </md-item-template>
        <md-not-found>
            No matches found for "{{query.q}}".
        </md-not-found>
    </md-autocomplete>
</form>
  </div>
  <div>

    <md-button class="md-raised md-mini md-primary" md-ripple-size="full" ng-click="search()">
      <md-icon md-font-set="material-icons"> search </md-icon>  </md-button>
  </div>
</div>

    <h4 ng-if="results.length > 0">Results: (<b>{{results.length}}</b>)</h4>
    <md-list>
        <md-list-item class="md-2-line" ng-repeat="item in results track by $index">
            <div class="md-list-item-text">
                <a href="/{{item.lib}}:{{item.apiName}}"><b>{{item.lib}}:{{item.apiName}}</b></a>
                <small><em>(<a href="/list/{{item.bucket}}">{{item.bucket}}</a>)</em></small>
                <p>Summary: {{item.summary}}</p>
            </div>
        </md-list-item>
    </md-list>

